# Python Pandas

In [1]:
#Creating Series from Array

import pandas as pd
import numpy as np
info=np.array(['P','a','n','d','a','s'])
a=pd.Series(info)
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [2]:
#Create a DataFrame using List

import pandas as pd
#a list of strings
x=['Python','Pandas']

#Calling DataFrame constructor on list
df=pd.DataFrame(x)
print(df)

        0
0  Python
1  Pandas

### Python Pandas Series

In [3]:
#Create an Empty Series
import pandas as pd
x=pd.Series()
print(x)

Series([], dtype: float64)

C:\Users\user\anaconda3\New folder\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [4]:
#Creating Series from Array
import pandas as pd
import numpy as np
info=np.array(['P','a','n','d','a','s'])
a=pd.Series(info)
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [5]:
#Create a Series from Dict
#import the pandas library
import pandas as pd
import numpy as np
info={'x':0.,'y':1.,'z':2.}
a=pd.Series(info)
print(a)

x    0.0
y    1.0
z    2.0
dtype: float64

In [6]:
#Create a Series using Scalar
#import pandas  library
import pandas as pd
import numpy as np
x=pd.Series(4, index=[0,1,2,3])
print(x)

0    4
1    4
2    4
3    4
dtype: int64

In [7]:
# Accessing data from series with Position
import pandas as pd
x=pd.Series([1,2,3], index=['a','b','c'])
#retrieve the first element
print(x[0])

1

In [8]:
# Retrieving Index array and data array of a series object 
import numpy as np
import pandas as pd
x=pd.Series(data=[2,4,6,8])
y=pd.Series(data=[11.2,18.6,22.5], index=['a','b','c'])
print(x.index)
print(x.values)
print(y.index)
print(y.values)

RangeIndex(start=0, stop=4, step=1)
[2 4 6 8]
Index(['a', 'b', 'c'], dtype='object')
[11.2 18.6 22.5]

In [19]:
# Retrieving Types (dtype) and Size of Type (itemsize)
import numpy as np
import pandas as pd
a=pd.Series(data=[1,2,3,4])
b=pd.Series(data=[4.9,8.2,5.6], index=['x','y','z'])
print(a.dtype)
print(a.itemsize)
print(b.dtype)
print(b.itemsize)
#Errror

int64

AttributeError: 'Series' object has no attribute 'itemsize'

In [2]:
#Retrieving Shape
import numpy as np
import pandas as pd
a=pd.Series(data=[1,2,3,4])
b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])
print(a.shape)
print(b.shape)

(4,)
(3,)

In [1]:
#Retrieving Dimension, Size and Number of bytes:
import numpy as np
import pandas as pd
a=pd.Series(data=[1,2,3,4])
b=pd.Series(data=[4.9,8.2,5.6], index=['x','y','z'])
print(a.ndim, b.ndim)
print(a.size, b.size)
print(a.nbytes, b.nbytes)

1 1
4 3
32 24

In [3]:
# Checking Emptiness and Presence of NaNs
import numpy as np
import pandas as pd
a=pd.Series(data=[1,2,3,np.NaN])
b=pd.Series(data=[4.9,8.2,5.6], index=['x','y','z'])
c=pd.Series()
print(a.empty,b.empty,c.empty)
print(a.hasnans,b.hasnans,c.hasnans)
print(len(a),len(b))
print(a.count(),b.count())

False False True
True False False
4 3
3 3

C:\Users\user\anaconda3\New folder\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [ ]:
# Series Functions

In [1]:
#1. Pandas Series.map()
#Ex.1
import pandas as pd 
import numpy as np
a=pd.Series(['Java','C','C++',np.nan])
a.map({'Java':'Core'})

0    Core
1     NaN
2     NaN
3     NaN
dtype: object

In [2]:
#Ex.2
import pandas as pd 
import numpy as np
a=pd.Series(['Java','C','C++',np.nan])
a.map({'Java':'Core'})
a.map('I like {}'.format, na_action='ignore')

0    I like Java
1       I like C
2     I like C++
3            NaN
dtype: object

In [3]:
#Ex.3
import pandas as pd 
import numpy as np
a=pd.Series(['Java','C','C++',np.nan])
a.map({'Java':'Core'})
a.map('I like {}'.format) #DOUBT
a.map('I like {}'.format, na_action='ignore')

0    I like Java
1       I like C
2     I like C++
3            NaN
dtype: object

In [4]:
#2. Pandas Series.std()
#Ex.1
import pandas as pd
# calculate standard deviation
import numpy as np
print(np.std([4,7,2,1,6,3]))
print(np.std([6,9,15,2,-17,15,4]))

2.1147629234082532
10.077252622027656

In [5]:
#Ex.2
import pandas as pd
import numpy as np

#Create a DataFrame
info= {
    'Name':['Parker','Smith','John','William'],
    'sub1_Marks':[52,38,42,37],
    'sub2_Marks':[41,35,29,36]
}

data=pd.DataFrame(info)
data

      Name  sub1_Marks  sub2_Marks
0   Parker          52          41
1    Smith          38          35
2     John          42          29
3  William          37          36

In [6]:
# standard deviation of the dataframe
data.std()

sub1_Marks    6.849574
sub2_Marks    4.924429
dtype: float64

In [7]:
#3. Pandas Series.to_frame()
#Ex.1

s=pd.Series(["a","b","c"], name="vals")
s.to_frame()

  vals
0    a
1    b
2    c

In [8]:
#Ex.2
import pandas as pd
import matplotlib.pyplot as plt
emp=['Parker','John','Smith','William']
id=[102,107,109,114]
emp_series=pd.Series(emp)
id_series=pd.Series(id)
frame={'Emp':emp_series,'ID':id_series}
result=pd.DataFrame(frame)
print(result)

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [9]:
#4. Pandas Series.unique()
#Ex.1
import pandas as pd
pd.unique(pd.Series([2,1,3,3]))
pd.unique(pd.Series([pd.Timestamp('20160101'), pd.Timestamp('20160101')]))

array(['2016-01-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [11]:
#Ex.2
import pandas as pd
import numpy as np
pd.unique(pd.Index([pd.Timestamp('20160101', tz='US/Eastern'), pd.Timestamp('20160101', tz='US/Eastern')]))

DatetimeIndex(['2016-01-01 00:00:00-05:00'], dtype='datetime64[ns, US/Eastern]', freq=None)

In [12]:
#5. Pandas Series.value_counts()
#Ex.1
import pandas as pd
import numpy as np
index= pd.Index([2,1,1, np.nan,3])
index.value_counts()

1.0    2
3.0    1
2.0    1
dtype: int64

In [13]:
#Ex.2
import pandas as pd
import numpy as np
index=pd.Index([2,1,1,np.nan,3])
a= pd.Series([2,1,1,np.nan,3])
a.value_counts(normalize=True)

1.0    0.50
3.0    0.25
2.0    0.25
dtype: float64

In [14]:
#Ex.3
import pandas as pd
index=pd.Index([1,3,2,2,1, np.nan])
index.value_counts()
a=pd.Series([1,3,2,2,1,np.nan])
a.value_counts(bins=2)

(0.997, 2.0]    4
(2.0, 3.0]      1
dtype: int64

In [17]:
#Ex.4
import pandas as pd
index=pd.Index([1,3,2,2,1,np.nan])
index.value_counts()
a= pd.Series([1,3,2,2,1,np.nan])
a.value_counts(dropna=False)

2.0    2
1.0    2
NaN    1
3.0    1
dtype: int64